/*  Reset */

* {
    margin: 0px;
    padding: 0px;
}
/* General Styling */
body {
    color: black;
    background: #e1e100;
    
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

#container{
    margin: 10px auto 10px;
    width: 75%;
    background: #7C8BC3;
    border-radius: 15px;
}

header{
    margin: 0 auto 20px;
    
}

header h3{
	padding-top: 10px; 
	text-align: center;
}

main {
	 text-align: center;
	 
	 font-size: 20px;
	
}
main table{
	 margin: 10px auto 10px;
}
main table tr th{
	padding: 0 15px 0px;
}
main h2{
	margin-top:20px;
	margin-bottom:20px;
}
main form input{
	
	margin: 8px 0 8px;
}
main form select{
	margin: 8px 0 8px;
}

main table td img{
	
	height: 80px;
	width: 70px;
}
main img{
	
	width: 370px;
	height: 500px;
	border-radius:5%;
}

footer{
    margin-top: 20px;
    align-content: center;
    padding-bottom: 20px;;
    text-align: center;
}
